
/LICENSE
*.cache
*.config
*.userprefs
/BaseExportDLL/obj/Debug/BaseExportDLL.csproj.FileListAbsolute.txt
/BaseExportDLL/obj/Release/BaseExportDLL.csproj.FileListAbsolute.txt
/TestExportDLL/obj/Release/BaseNPDLL.csproj.FileListAbsolute.txt
/CSharpGL/obj/Debug/CSharpGL.csproj.FileListAbsolute.txt
/ExportDll/obj/Debug/ExportDll.csproj.FileListAbsolute.txt
/ExportDll/obj/Release/ExportDll.csproj.FileListAbsolute.txt
/TestExportDLL/obj/Debug/npTest.csproj.FileListAbsolute.txt
/TestExportDLL/obj/Release/npTest.csproj.FileListAbsolute.txt
/ConsoleApplication1/obj/x86/Debug/ProcessDebugger.csproj.FileListAbsolute.txt
/TestExportDLL/obj/Debug/Test.csproj.FileListAbsolute.txt
/TestExportDLL/obj/Release/TestExportDLL.csproj.FileListAbsolute.txt
*.suo
*.pdb
*.pidb
*.md